{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}